@use "@/styles/components/global.scss" as *;

.memory-game-landing-page {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 0px);

    .hero {

        @keyframes hero-scale-pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1);
            }
        }

        .hero-title {
            font-size: 2.5rem;
            font-weight: 700;
            // margin-bottom: 1rem;
            -webkit-text-stroke: 2px #f4dfba;
            font-weight: 900;
            animation: hero-scale-pulse 2s infinite ease-in-out;
            margin-top: -2rem;

            .red {
                color: #f94567;
            }

            .blue {
                color: #656b99;
            }

            .green {
                color: #54b88b;
            }

            .yellow {
                color: #ffb419;
            }

        }

    }

    .servers {
        display: grid;
        grid-gap: 5px 5px;
        grid-template-columns: repeat(2, 1fr);

        .server {
            // margin: 0.5rem;
            padding: 0.5rem;
            // width: calc(50% - 1rem);
            border: 1px solid rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .ad-wrap {
        margin-top: 1rem;

        @include media-breakpoint-up(lg) {
            margin-top: 0rem;
            display: block;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .background-wrap {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            // backdrop-filter: blur(8px);
            filter: blur(2px);
        }
    }

}